################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Micro.Fin/.vs/Micro.Fin
/Micro.Fin/Fin.Api/bin/Debug/netcoreapp3.0
/Micro.Fin/Fin.Infrastructure/bin/Debug/netcoreapp3.0
/Micro.Fin/Fin.Infrastructure/obj/Debug/netcoreapp3.0
/Micro.Fin/Fin.Infrastructure/obj
/Micro.Fin/Fin.Api/obj
/Micro.Fin/Fin.ApplicationCore/bin/Debug/netcoreapp3.0
/Micro.Fin/Fin.ApplicationCore/obj
