/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Numans');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~@ng-select/ng-select/themes/default.theme.css";

/* primeng Table component */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";


body .ui-widget{
    font-size: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-group{
    padding-left: 5px;
    padding-right: 5px;
}