
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }

    .create_new_btn{
        color: black;
        background-color: rgb(97, 135, 150);
        width: 100px;
    }

    .create_new_btn:hover{
        color: black;
        background-color: white;
    }
    
