<div class="container">
    <div class="">
        <div class="justify-content-center">
            <div class="">
                <div class="row">
                    <div class="col-md"><h4>{{isEditMode ? "Let's update loan details" : "Let's create new loan"}}</h4></div>
                    <div class="col-sm"><input type="button" value="New Loan" class="btn float-right create_new_btn" (click)="newLoan()"/></div>
                </div>
                <div class="">
                    <form [formGroup]="loanFormGroup" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm form-group">
                                <label class="form-control-label">Customer</label>
                                <ng-select [items]="customers" bindValue="id" bindLabel="displayText"
                                    placeholder="Select a Customer" formControlName="customerId">
                                    <!-- <ng-template ng-option-tmp let-item="item">
                                                                                            <div title="{{item.name}}">{{item.name}} - {{item.phone}}</div>
                                                                                        </ng-template> -->
                                </ng-select>
                            </div>
                            <div class="col-sm form-group">
                                <label class="form-control-label">Interest</label>
                                <span class="form-control">
                                    <input type="number" style="text-align:left;width: 80%;border: 0;" max="100"
                                        accuracy="2" min="1" formControlName="interest" name="interest" [readonly]="isEditMode">%
                                </span>
                            </div>
                            <div class="col-sm form-group">
                                <label class="form-control-label">Date Granted</label>
                                <input class="form-control" type="text" autocomplete="false" #dp="bsDatepicker"
                                    bsDatepicker triggers="click:click" [bsConfig]="bsConfig"
                                    (bsValueChange)="onDateChange($event)" formControlName="dateGranted"
                                    placeholder="DD.MM.YYYY" dateOnly [maxDate]="maxDate"  />
                                <!-- <div class="input-group-append" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
                                                                                    <span class="input-group-text">
                                                                                        <i class="material-icons">today</i>
                                                                                    </span>
                                                                                    </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm form-group">
                                <label class="form-control-label">Initial Loan Amount</label>
                                <input type="number" class="form-control" style="text-align:left;"
                                    formControlName="initialLoanAmount" name="initialLoanAmount" [readonly]="isEditMode">
                            </div>
                            <div class="col-sm form-group">
                                <label class="form-control-label">Capital Outstanding</label>
                                <input type="number" class="form-control" style="text-align:left;"
                                    formControlName="capitalOutstanding" name="capitalOutstanding" readonly>
                            </div>
                            <div class="col-sm form-group">
                                <label class="form-control-label">Period (M)</label>
                                <input type="number" class="form-control" style="text-align:left;"
                                    formControlName="periodMonths" name="periodMonths" [readonly]="isEditMode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm form-group">
                                <label class="form-control-label">Security</label>
                                <textarea rows="2" class="form-control" style="text-align:left;"
                                    formControlName="security" name="security" [readonly]="isEditMode"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="{{isEditMode ? 'Update' : 'Create'}}" class="btn float-right login_btn" *ngIf="!isEditMode">
                        </div>
                    </form>
                </div>
                <div class="">
                    <h3>Schedule</h3>
                    <p-table #dt2222 [value]="loanDetails" dataKey="id" editMode="row">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:2em">#</th>
                                <th>Month</th>
                                <th>Interest</th>
                                <th>Paid</th>
                                <th>Late Paid</th>
                                <th>Paid Date</th>
                                <th>Capital Paid</th>
                                <th>Compound</th>
                                <th>Balance</th>
                                <th style="width:4em"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="rowData">
                                <td>
                                    {{rowData.installment}}
                                </td>
                                <td>
                                    {{rowData.month | date:'MMM d, y'}}
                                </td>
                                <td>
                                    {{rowData.monthlyInterest | number: '1.0-0'}}
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="number" [(ngModel)]="rowData.paid" style="width: 100%;" [disabled] = "rowData.isCompoundInterest || rowData.latePaid" min="1">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.paid}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="number" [(ngModel)]="rowData.latePaid" style="width: 100%;" [disabled] = "rowData.paid">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.latePaid}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input style="width: 100%;" type="text" autocomplete="false" #dp2="bsDatepicker"
                                                bsDatepicker triggers="click:click" [bsConfig]="bsConfig"
                                                [(ngModel)]="rowData.paidDate"
                                                placeholder="DD.MM.YYYY" dateOnly [maxDate]="maxDate" required/>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.paidDate | date:'MMM d, y'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="number" [(ngModel)]="rowData.capitalPaid" style="width: 100%;" [disabled]="rowData.isCompoundInterest">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.capitalPaid}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-checkbox [(ngModel)]="rowData.isCompoundInterest" binary="true" (onChange)="toggleInterestType(rowData)" [disabled] = "rowData.paidDate"></p-checkbox>
                                </td>
                                <td>
                                    {{rowData.balance | number: '1.0-0'}}
                                </td>
                                <td style="text-align:center">
                                    <button *ngIf="!editing && rowData.editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                                        class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                                        class="ui-button-success" style="margin-right: .5em"
                                        (click)="onRowEditSave(rowData)"></button>
                                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                                        class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>




<br />
<!-- <button pButton type="button" icon="pi pi-plus" class="ui-button-info" [label]="'Add'" pAddRowAAAA [table]="dt2222"
    [newRow]="newRow()"></button> -->
<!-- <input type="button" icon="pi pi-plus" value="Add" (click)="newRow()"> -->
<button pButton type="button" icon="pi pi-plus" label="Add" (click)="newRow()"></button>

<p-messages [(value)]="msgs"></p-messages>